# ---- 个人密钥，严禁提交 ----
[Bb]in/
[Oo]bj/
cipx/
TestResults/
*.trx
*.user
*.suo

# ---- IDE ----
.vs/
.idea/
*.swp

# ---- ??????????????????????----
ClassIsland/
ClassIsland.ExamplePlugins/
ClassIsland.PluginTemplate2/

# ---- ?? .NET SDK???????????----
dotnet-sdk/

# ---- OS ----
Thumbs.db
.DS_Store

# ---- ?? ClassIsland ????? ----
ClassIsland_app_windows_x64_full_folder/

# ---- 个人密钥，严禁提交 ----
docs/qq机器人密钥.txt
